.AuthorResult {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.AuthorImage {
    width: 30%;
    margin-right: 1rem;
}

.AuthorInfo {
    width: 70%;
}

@media (min-width: 769px) {
    .AuthorImage {
        width: 15%;
        margin-right: 1rem;
    }
    
    .AuthorInfo {
        width: 85%;
    }
}
