.Page {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem; 
}

.Left {
    grid-row: 1 / span 3;
}

.Right {
    width: 100%;
    grid-row: 1 / span 3;
}


@media (max-width: 500px) {
    .Page {
        display: block;
        width: 100vw;
    }
}

@media (max-width: 800px) {
    .Page {
        max-width: 700px;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media(max-width: 1100px) {
    .Page {
        max-width: 900px;
    }
}