.SearchBar {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.SearchBar > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.SearchBar * {
    padding: 0;
    margin: 0;
}

.SearchBar select, .SearchBar > div input {
    height: 36px !important;
    padding: 0rem 0.5rem;
}

.SearchBar > div button {
    height: 36px;
    padding: 0.45rem 0.9rem;
}

@media (min-width: 500px) {
    .SearchBar {
        display: flex;
        flex-direction: row;
    }

    .SearchBar input {
        width: 210px;
    }

    .SearchBar > div {
        margin-top: 0;
    }
} 