.ReviewFooter {
    background: rgb(207, 207, 207);
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
    .ReviewFooter {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .Ratings {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .Ratings > button {
        width: 50% !important;
    }

    .ReviewFooter > button {
        width: 100%;
    }
    
}