.Hamburger {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hamburger > div {
    position: relative;
    height: 2px;
    width: 60%;
    background: #333;
    transition: transform 0.3s ease-out;
}

.Hamburger > div::before, .Hamburger > div::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 2px;
    background: #333;
}

.Hamburger > div::after {
    top: -10px;
}

.Hamburger:hover > div {
    transform: scale(1.2);
}

@media (min-width: 769px) {
    .Hamburger {
        display: none;
    }
}