.large {
    font-size: 2.6rem;
}

.big {
    font-size: 2.2rem;
}

.medium {
    font-size: 1.7rem;
}

.small {
    font-size: 1.1rem;
}

.sectionTitle {
    background: rgb(247,158,31);
    background: linear-gradient(7deg, rgb(231, 147, 30) 0%, rgb(255, 195, 14) 74%, rgb(235, 190, 57) 100%);
    width: 100%;
    color: white;
    padding: 1rem;
}

@media (max-width: 500px) {
    .sectionTitle {
        text-align: center;
    }
}