.ReviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 60, 165);
    background: linear-gradient(7deg, rgb(1, 74, 207) 0%, rgb(23, 127, 247) 74%, rgb(0, 162, 255) 100%);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.ReviewHeader p {
    color: white;
}

.User {
    display: flex;
    justify-content: center;
    align-items: center;
}

.User a {
    margin-left: 0.75rem;
    font-size: 1.2rem;
}

.UserImg {
    border-radius: 50%;
    width: 50px;
}

@media (max-width: 500px) {
    .ReviewHeader {
        display: block;
        text-align: center;
    }
}