.List {
    width: 100%;
    overflow: hidden;
}

.List > li {
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-bottom-color: rgb(138, 138, 138);
    border-top-color: rgb(185, 185, 185);
    transition: all 0.3s ease;
    cursor: pointer;
}

.List > li:hover {
    transform: scale(1.02);
}

.List > li:nth-child(even) {
    background: #f8f8f8;
}

.List > li:nth-child(odd) {
    background: #e9e9e9;
}