.BookResult {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.BookImage {
    width: 30%;
    margin-right: 1rem;
}

.BookInfo {
    width: 70%;
}

@media (min-width: 769px) {
    .BookImage {
        width: 15%;
        margin-right: 1rem;
    }
    
    .BookInfo {
        width: 85%;
    }
}
