.Container {
    max-width: 1200px;
    margin: auto;
}

.ShowcaseContainer {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.LargeShowcaseContainer {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.SmallShowcaseContainer {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
    .ShowcaseContainer, .LargeShowcaseContainer, .SmallShowcaseContainer {
        height: 90vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }  
}

@media (max-height: 500px) {
    .ShowcaseContainer, .LargeShowcaseContainer, .SmallShowcaseContainer {
        height: calc(180vh - 56px);
    }
}


@media (max-width: 400px) {
    .ShowcaseContainer {
        font-size: 0.8rem;
    }
}

@media (max-width: 769px) {
    .ShowcaseContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }  
    
    .ShowcaseContainer > div:nth-child(1) {
        width: 80%;
        margin-top: 10rem;
    }

    .ShowcaseContainer > div:nth-child(2) {
        width: 80%;
        margin-bottom: 10rem;
    }
}
