.Toolbar {
    height: 56px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    color: white;
}

.DesktopOnly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
}

@media (max-width: 769px) {
    .DesktopOnly {
        display: none;
    }
}

@media (max-width: 500px) {
    .Logo img {
        display: none;
    }
}
