.ReviewContent {
    background: #e7e7e7;
    padding: 1rem;
    width: 100%;
}

.Rating {
    margin-top: 1rem;
    margin-right: 2rem;
    text-align: right;
}

@media (max-width: 500px) {
    .Rating {
        margin-right: 0;
        text-align: center;
    }
}