.NavigationItem {
    margin: 0;
    margin-left: -1px;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    border-collapse: collapse;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
}

.NavigationItem a {
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    height: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: block;
    transition: background-color 0.3s ease-out, color 0.1s ease 0.01s, font-size 0.3s ease;
    text-align: center;
}

.NavigationItem a:hover {
    background: rgba(33, 137, 255, 1);
    color: white;
}

.NavigationItem a.active {
    background-color: #ffc011;
    color: white;
}

.NavigationItem a.active:hover {
    background-color: #e29e0a;
}

.NavigationItem a:active {
    -webkit-box-shadow: inset 0px 6px 28px -7px rgba(0,0,0,0.65);
    -moz-box-shadow: inset 0px 6px 28px -7px rgba(0,0,0,0.65);
    box-shadow: inset 0px 6px 28px -7px rgba(0,0,0,0.65);
}


@media (max-width: 769px) {
    .NavigationItem  {
        width: 100%;  
        border: none;
    }

    .NavigationItem a { 
        text-align: start;
        width: 100%;
    }

    .NavigationItem a.active {
        font-size: 1.3rem;
    }
}



