.Button {
    background: #333;
    border: none;
    outline: none;  
    font: inherit;
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    margin: 10px;
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bold;
}
/* nie wiem co to jest tbh, przeszkadzalo mi wiec zakomentowalem. nie widze doslownie zadnej zmiany na stronce
.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Button:hover, .Button:active {
    cursor: pointer;
    background: rgba(33, 137, 255, 1);
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Button.Success:hover {
    background: #6ccf33;
}

.Button.Danger:hover {
    background: rgb(218, 64, 64);
}

.Button.Success:active {
    background: #6ccf33;
}

.Button.Danger:active {
    background: rgb(218, 64, 64);
}
