.Bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
}

@media (max-width: 500px) {
    .Bio {
        margin: 0;
        padding: 1rem;
    }
}

@media (max-width: 769px) {
    .Bio {
        margin-right: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}