.TopBook {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: black;
}

.BookImage {
    width: 50%;
    margin-right: 1rem;
}

.BookInfo {
    width: 50%;
}

.BookInfo ul {
    margin-top: 0.5rem;
}